.date , .para, .bouton {
	font-family: 'OpenSans', sans-serif;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: default;
    text-align: center;
    padding: 8px 10px;
    margin: 2px;
    font-size: 20px;
   text-shadow: 0 -1px 1px black;
    color: #FFFFFF;
    font-weight: bold;
    border-top: 1px solid black;
    
    background: black;
  
    margin-bottom: 10px;
    
    display:inline;


}

.para {
    text-align: left;
    padding: 8px 10px;
    margin: 2px;
    font-size: 20px;
    
    color: #FFFFFF;
    font-weight: bold;
    border-top: 1px solid white;
    
    background: white;
  
    margin-bottom: 10px;
    
    display:inline;
}