@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
	background: #448ed3 ;
	font-family: "Lato" ;
}
.wrap {
	width:250px;
	height: auto;
	margin: auto;
	margin-top: 10%;
}
.avatar {
	width: 100%;
	margin: auto;
	width: 65px;
	border-radius: 100px;
	height: 65px;
	background: #448ed3 ;
	position: relative;
	bottom: -15px;
}
.avatar img {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	margin: auto;
	border:3px solid #fff;
	display: block;
}
.wrap input {
	border: none;
	background: #fff;
  font-family:Lato ;
  font-weight:700 ;
	display: block;
	height: 40px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"] {
	border-radius: 7px 7px 0px 0px ;
}
.wrap input[type="password"] {
	border-radius: 0px 0px 7px 7px ;
}
.forgot_link {
	color: #83afdf ;
	color: #83afdf;
	text-decoration: none;
	font-size: 11px;
	position: relative;
	left: 193px;
	top: -36px;
}
.wrap button {
	width: 100%;
	border-radius: 7px;
	background: #b6ee65;
	text-decoration: center;
	border: none;
	color: #51771a;
  margin-top:-5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;	
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}




















#clavier {
	padding: 10 ;
    margin: 0 auto;
    width: 255px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, .8);
}

#clavier, #number, .buttons, .buttonsSpace, .buttonsSuppr, .buttonReduire, .buttonAjt, .button0, .buttonSupprProd, .buttonAjtProd, .buttonAjtSupprProd {
    border-radius: 15px;
}

#clavierLettre, #QtePanier, #produit {
	padding: 10px;
    margin: 0 auto;
	border-radius: 15px;
    width: 800px;

}

#produit {
    margin-bottom: 30px;
	margin-left: 15%;
	margin-right: 15%;
}

#produit, #QtePanier {
	display:flex;
    width: auto;
    height: 250px;
    background: linear-gradient(#5F5F5F 0%, #404040 100%);
}

#QtePanier {
	margin: auto;
	float:right;
	margin-right: 30px;
	margin-left:30px;
	height: 200px;
    background: linear-gradient(#BBBBBB 100%, #404040 0%);
}

#ModifQtePanier {
	margin: auto;
	height: auto;
	margin-left:10px;
}

#totalPanierTitre{
	font-size: 20px;
	width: 150px;
	color: white;
	border: none;
}

#totalPanier{
	background: black
	color:white;
}
input#number, input#quantité, #libellé, #prixUnitaire, #prixTotal {
	border-radius: 20px;
    text-align: left;
    background-color: #121212;
    border: none;
    border-bottom: 1px solid #777;
    color: #C8C8C8;
    font-size: 20px;
    padding: 16px;
    width: 300px;
    box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, .6);
}

#libellé, #prixUnitaire, #prixTotal {
	margin: auto;
	width: auto;
	height: 100px;
	font-size: 35px;
	text-align: center;
}

#prixUnitaire, #prixTotal {
	width: 170px;
}


input#quantité {
	margin: auto;
	text-align: center;
	font-size:30px;
    width: 75px;
    height: auto;
}


input#number:focus, input#quantité {
    outline: none;
}

.buttons, .buttonsSpace, .buttonsSuppr, .buttonInvisible, .buttonReduire, .buttonAjt, .button0, .buttonSupprProd, .buttonAjtProd, .buttonNav, .buttonAjtSupprProd{
	font-family: 'OpenSans', sans-serif;
    background: url(../background.jpg) center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: default;
    text-align: center;
    padding: 8px 10px;
    margin: 2px;
    font-size: 30px;
    text-shadow: 0 -1px 1px #000;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    border-top: 1px solid #777;
    width: 70px;
    background: linear-gradient(#5F5F5F 0%, #404040 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
    margin-bottom: 10px;
}

.buttonReduire, .buttonAjt{
    padding: 0px 0px;
    margin: 0px;
    font-size: 30px;
    width: 120px;
    height: 60px;
    margin-bottom: 10px;
    display:block;
}

.buttons:hover, .buttonsSpace:hover, .buttonsSuppr:hover, .buttonReduire:hover, .buttonAjt:hover, .button0:hover, .buttonSupprProd:hover, .buttonAjtProd:hover, .buttonAjtSupprProd:hover{
    background: linear-gradient(#79D144 0%, #ffcc00 100%);
    border-top: 1px solid #ffcc00;
    text-shadow: 0 -1px 1px #ffcc00;
}

.buttons:active, .buttonsSpace:active, .buttonsSuppr:active, .buttonReduire:active, .buttonAjt:active, .button0:active, .buttonSupprProd:active, .buttonAjtProd:active, .buttonAjtSupprProd:active{
    box-shadow: none;
}
.buttonsSpace{
	width: auto;
}

.buttonNav{
	
	width: auto;
    font-size: 30px;
    border-radius: 180px;
    padding-left: 50px;
    padding-right: 50px;
    background: black;
	border: 2px solid white;
}

.buttonNav:hover, .buttonsMenuClient:hover a, .buttonsMenuAdmin:hover a, .buttonsMenu:hover a, .buttonsMenuLivreur:hover a, .buttonLivrProd:hover a, .buttonEntretien:hover a {  
	border: 2px solid white;
}

.buttonsMenu, .buttonsMenuClient, .buttonsMenuLivreur, .buttonsMenuAdmin, .buttonLivrProd, .buttonEntretien {
	margin: auto;
	text-align: center;
}
.buttonsMenu a, .buttonsMenuClient a, .buttonsMenuLivreur a, .buttonsMenuAdmin a, .buttonLivrProd a, .buttonEntretien a{
	margin: 50px;
	font-family: 'OpenSans', sans-serif;
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 30px;
    border-radius: 180px;
    padding-left: 50px;
    padding-right: 50px;
    background: black;
	border: 2px solid white;
	color: #FFF;
}

.buttonsMenuClient {
	margin-top: 20vh; 
	transform: translateY(-50%); 
}

.buttonsMenuLivreur{
	margin-top: 40vh; 
	transform: translateY(-50%); 
}

.buttonsMenuClient a, .buttonsMenuLivreur a{
	width: 280px;
	height: 150px;
	margin: 100px;
    padding-left: auto;
    padding-right: auto;
    line-height: 150px; 
    box-sizing: border-box; 
}


.buttonsMenu a{
	width: 300px;
}

.buttonsMenuAdmin a{
	width: 460px;
}

.buttonLivrProd a{
	width: 550px;
	margin: 20px;
}

.buttonEntretien a{
	width: 550px;
	margin: 20px;
}

.button0{
	width: calc(100% - 24px) ;
}

.buttonInvisible {
	text-align: center;
    visibility: hidden;
}

.buttonAjtSupprProd{
	height: 70px;
	width: 70px;
	margin: auto;
	margin-left: 0px;
}

.message, .messageBis{

	margin: auto;
	font-family: lato;
	color: white;
	font-size: 35px;
	text-align: center
}

.messageBis{
	margin: 0px;
	margin-top: -80px;
	margin-bottom: -140px;
}

#signature{
	display: block;
    margin-left: auto;
    margin-right: auto;
}




